.container {
  display: flex;
  flex-direction: row;
}

.users {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}